.imgport {
	width: 200px;
	height: 200px;
	float:left;
	overflow:auto;
	padding: 0px 20px 10px 0px;
}

.minilogo {
	width:64px;
	height:64px;
}

.wrap {
	width: 960px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 100px;
	margin-bottom: 200px;
}


header {
	position: fixed;
	top: 0px;
	left: 0px;
	font-family: 'Georgia', Times, 'Times New Roman', serif;
	background: white;
	width: 100%;
	z-index: 2;
	border-bottom: 3px solid #cccccc;
}

/**
Removes margins/white-space from <header> element. Oddly seems to still cause issues even with reset.css, so had to add this.
**/

html, body {
  margin: 0; 
  padding: 0;
}

body { 
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
 }

/**
Added margin individually to h3 element to create spacing for the border.
**/
h2 {
	margin-left: 15px;
	margin-right: 15px;
	padding-bottom: 17px;
}


h3 {
	font-size: 24px;
	text-align: center;
	margin-left: 15px;
	margin-right: 15px;
	padding-bottom: 20px;
}

h1, h2, h3 {
	color: #4aaaa5;
}

h1 {
	position: relative;
	max-width: 960px;
	left: 11.5%;
	margin-left: auto;
	margin-right: auto;
	color: #ffffff;
	background: #4aaaa5;
	float:left;
	padding: 25px 0 25px 0;
	margin-bottom: 0;
	margin-top: 0;
}

nav {
	position: relative;
	right: 10%;
	float:left;
	margin: 20px auto 0 auto;
}

/**
Border under header 2 (About Me) before <p>
**/

h2, h3 {
	border-bottom: 2px solid #cccccc;
}

body p {
	color: #777777;
	font-size: 17px;
	word-spacing: 8px;
}

footer p {
	color: #9d9d9d;
}

aside a {
	display: inline-block;
}

body {
	background-image: url("../images/background.png");
	background: white;
}

footer { 
	position:fixed;
	left: 0px;
	bottom: 0px;
	width: 100%;
	height: 100px;
	background: #666666;
	text-align: center;
	border-top: 10px solid #4aaaa5;
 }

/**
Navigation with proper CSS to ensure it's placed at right, with margin to the right side to leave a space. List 'dots' removed from <ul> element, and made sure to break the stack-styled listing with display "inline-block". Added padding to ensure sufficient spacing between selections.
**/

nav {
	float:right;
	margin-right: 2.5%;
}

nav ul {
	list-style: none;
}

nav ul li {
	display: inline-block;
}

nav ul li a { 
	padding: 0px 25px 0px 25px;
 }


/**
Navigation section with borders on center selection to follow specifications.
**/

.navbord {
	border-left: 2px solid #cccccc;
	border-right: 2px solid #cccccc;
}

/**
Anchor links need to have their underlines taken away to look more like the specifications given to us.
**/

a {
	text-decoration: none;
}

/**
Section, aside are floated side-by-side, and 'clear' div will clear all sides, so footer won't get in the way.
**/

section {
	float:left;
	width: 650px;
	background:white;
	border: 2px solid #dddddd;
}
aside {
	float:right;
	width: 270px;
	background:white;
	border: 2px solid #dddddd;
}
.clear {
	clear:both;
}
.test {
	margin-left: 13%;
	margin-right: auto;
	padding-bottom: 50px;
}

.main_content {
	padding: 20px 20px 20px 20px;
}

/**
Unvisited Link (no color change purposes)
**/

a:link {
    color: #777777;
}

/** 
Visited Link (no color change purposes)
 **/

a:visited {
    color: #777777;
}

/**
Hover effect - changes colors along with the text-decorations.
**/

a:hover {
 	animation: color-change 2s infinite;
 	text-decoration: underline overline;
}

@keyframes color-change {
    0% { color: #777777; }
    50% { color: #292929; }
    100% { color: #e3e3e3; }
}

/*****
Portfolio
*****/

.imgsize {
	width: 280px;
	height: 360px;
	padding-bottom: 20px;
}

.pic1 {
	float:left;
}

.pic2 {
	float:right;
}